    h1 {font-family:"Times New Roman";
        font-size: x-large; color: navy; margin-left: 20px}
    h2 {font-size: large; color: blue}
    body {background-color: lightblue}

    p{color: red; text-align: center;}

body{background-color: pink; }